html {
    background-color: rgb(240,240,240);
    font-family: "San Francisco";
}
body {
    margin: 0;
}
.tut-header {
    background-color: darkblue;
    color: white;
    height: 35px;
    line-height: 35px;
    font-size: 25px;
    font-family: "San Francisco Thin";
}
.tut-header, .tut-content {
    padding: 10px;
}